# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=./

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/go/src/app

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=~/.data

TIMEZONE=Asia/Taipei

### APP #################################################
HOST_HTTP_PORT=80
HOST_HTTPS_PORT=443

### MYSQL #################################################

MYSQL_DATABASE=goapp
MYSQL_USER=appuser
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./docker/mysql/docker-entrypoint-initdb.d

### INFLUXDB #################################################

INFLUXDB_DB=goapp
INFLUXDB_USER=appuser
INFLUXDB_USER_PASSWORD=secret
INFLUXDB_PORT=8086
INFLUXDB_ADMIN_USER=admin
INFLUXDB_ADMIN_PASSWORD=admin
INFLUXDB_ADMIN_PORT=8083

### MQTT BROKER #################################################

MQTT_BROKER_PORT=8883
