debug: true
app_key: goapp
server:
  host: localhost
  port: 443
  https: true
  lets_encrypt: false
  cert: assets/key/server/server.pem
  key: assets/key/server/server.key
mqtt:
  scheme: ssl
  broker: mqtt-broker
  port: 8883
  ca: assets/key/ca/ca.pem
  cert: assets/key/client/cert.pem
  key: assets/key/client/key.pem
influxdb:
  host: influxdb
  port: 8086
  dbname: goapp
  username: appuser
  password: secret
redis:
  host: redis
  port: 6379
  prefix: "goapp_"
database:
  default: mysql
  mysql:
    host: mysql
    port: 3306
    dbname: goapp
    username: appuser
    password: secret
    tls: true
    charset: utf8mb4
  pgsql:
    host: 127.0.0.1
    port: 5432
    username: goapp
    dbname: appuser
    password: secret
  sqlite:
    dbname: /tmp/goapp.db
  sqlsrv:
    host: 127.0.0.1
    port: 1433
    username: goapp
    dbname: appuser
    password: secret
